@charset "UTF-8";

     * {
            margin: 0px;
            padding: 0px;
        }
        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
        img {
            width: 100vw;
            display: block;
            
            
        }
        

        a {
            background-color: darkred;
            display: block;
            color: white;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 2px;
            /*width: fit-content; Ajusta a largura ao conteúdo*/
            text-align: center;
        }
        
        a:hover {
            background-color: red;
        }