@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh; /*100% da altura da viewport*/
    width: 100vw; /*100% da largura da viewport*/
    background-color: black;
}

body {
    background: url(../imagens/OF18NR0.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

}
main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%; /*50% da altura do elemento pai*/
    left: 50%; /*50% da largura do elemento pai*/
    transform: translate(-50%, -50%); /*centraliza o elemento*/
    height: 625px;
    width: 300px;
    background: url(../imagens/apple-iphone-5-medium.png) no-repeat center/contain;
}

iframe#tela {
    position: relative;
    top: 90px;
    left: 26px;
    width: 251px;
    height: 446px;
    gap: 10px;
}

section#rede-sociais {
    position: absolute;
    top: 50%; /*50% da altura do elemento pai*/
    right: 10px;
    transform: translateY(-50%); /*centraliza o elemento verticalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
}

section#rede-sociais:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

section#rede-sociais img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

section#rede-sociais img {
    width: 50px;
    margin: 10px;
    
}
